<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
             
        {% if a > b and a > c and a > c and a < d %}
        <h1>if block</h1>  
        {{a}} 
        {%elif b > c and b > d %}
        <h1>elif block</h1>
        {{b}}
        {%elif c > d%}
        <h1>elif block</h1>
        {{c}}
        {% else %}
        <h1>else block</h1>
        {{d}}
        {% endif %}

    </center>
</body>
</html>